.parent {
    height: 50vh;

    /* add solution here */

    
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
}
