body {
  background-color: antiquewhite;
  font-family: "Times New Roman", Times, serif;
}

header {
  font-size: medium;
  color: brown;
}

nav {
  margin: 10px;
  column-gap: 5cm;
  font-style: oblique;
  color: black;
  border-top-right-radius: 5px;
}
section {
    border-radius: 5px;
  border-style: solid;
  margin: 20px;
  padding: 5px;
}

h1 {
  font-style: italic;
}

h2,
h4 {
  font-style: italic;
  color: brown;
}

footer {
  background-color: bisque;
  border-style: solid;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.image img {
  border-radius: 50%;
  height: 300px;
  margin: 5px;
}

img {
  border: 10px solid;
  border-style: solid;
  border-color: brown;
  border-radius: 5%;
}
