body {
  background-color: antiquewhite;
  font-family: "Times New Roman", Times, serif;
}

header {
  font-size: medium;
  color: brown;
  position: relative;
}

nav {
  margin: 10px;
  font-style: oblique;
  color: black;
  position: sticky;
  top: 20px;
}

.nav{
  background-color: rgb(142, 115, 83);
  display: flex;
  justify-content: right;
  top: 20px;
}

section {
  border-radius: 5px;
  border-style: solid;
  margin: 20px;
  padding: 5px;
}

h1 {
  font-style: italic;
}

h2,
h4 {
  font-style: italic;
  color: brown;
}

footer {
  background-color: bisque;
  border-style: solid;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.image img {
  border-radius: 50%;
  height: 300px;
  margin: 5px;
}

img {
  border: 10px solid;
  border-style: solid;
  border-color: brown;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bact-to-top{
  position: fixed;
  bottom: 80px;
  right: 80px;
  display: inline-flex;
  align-items: right;
  justify-content: center;
}

.back-to-top span{
  justify-content: right;
  right: 80px;
  bottom: 80px;
}

span{
  display: flex;
  justify-content: right;
  align-items: end;
  bottom: 80px;
  right: 80px;
}